# Django et extensions
Django==5.0.1
django-environ==0.11.2

# Base de données
psycopg2-binary==2.9.9

# Images
Pillow==10.2.0

# PDF
reportlab==4.0.9

# Utilitaires
python-decouple==3.8

# Développement (à commenter en production)
django-debug-toolbar==4.2.0
